{% extends "base.html.twig" %}


{% block title %}
	Bienvenue dans notre Boutique de création !
{% endblock %}
{% block body %}

	<div class="container">
		{# Container jumbotrom 1 Bijoux #}
		<div class="jumbotron mt-3 bg-light">
			<h1 class="display-3">Bienvenue dans Bijoux & Couture !</h1>
			<p class="lead">Nous somme les creatrice de Bijoux et de creations faite en Couture rein que pour vous !</p>
			<hr class="my-4">
				<div>
					<img src="img/coton2.jpg">
					<img src="img/coton2.jpg"></div>
			<p>Et vous curieux(se) pour decouvrire nous creation se par ici !</p>
			<p class="lead">

				<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos créations</a>
			</p>

		</div>
		<div class="text">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, tenetur. Itaque, nobis? Aliquam at minima recusandae eius reiciendis aliquid sequi aut dolore sunt? Voluptate qui, autem illo eveniet quas dolorem?</p>
		</div>

		{# Produits Bijoux #}
		<h2 class="h1 my-5">Nos Bijoux stars</h2>
		<div class="row">

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos Bijoux,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Bijoux de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos Bijoux,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Bijoux de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos Bijoux,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Bijoux de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>
		</div>

		{# Container jumbotrom 2 Couture #}
		<div class="jumbotron mt-3 bg-light">

			<h1 class="display-3">Bienvenue dans Bijoux & Couture !</h1>
			<p class="lead">Nous somme les creatrice de Bijoux et de creations faite en Couture rein que pour vous !</p>
			<hr class="my-4">
				<div>
					<img src="img/coton2.jpg">
					<img src="img/coton2.jpg">
				</div>
			<p>Et vous curieux(se) pour decouvrire nous creation se par ici !</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos créations</a>
			</p>
		</div>

		<div class="text">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, tenetur. Itaque, nobis? Aliquam at minima recusandae eius reiciendis aliquid sequi aut dolore sunt? Voluptate qui, autem illo eveniet quas dolorem?</p>
		</div>

		{# Produits Couture #}
		<h2 class="h1 my-5">Nos Couture stars</h2>
		<div class="row mt-5">

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos céation couture,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Création en couture de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos céation couture,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Création en couture de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						Nos céation couture,
						<strong>créer</strong>
						/ main
						<br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="jifiefjijfeif" style="height: 200px; width: 100%; display: block">

					<div class="card-body">
						<h4 class="card-title">
							Création en couture de ouffffff !
						</h4>
						<p class="card-text">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum earum rem reiciendis! Suscipit accusamus modi minima voluptate labore aliquam assumenda.
						</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>
		</div>

		{# Nous les creatrice de produits et bijoux #}
		<h2 class="h1 my-5">Les créatrices</h2>
		<div class="row mt-5">
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">Bijoux</h4>
						<hr>
						<div class="card-text">
							<img src="http://placehold.it/64x64" alt="Avatar de Souad" class="float-left mr-3">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quaerat!</p>
							<a href="#" class="btn btn-success float-right">En savoir plus</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">Couture</h4>
						<hr>
						<div class="card-text">
							<img src="img/coton1.jpg" alt="Avatar de Gheorghina" class="float-left mr-3">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quaerat!</p>
							<a href="#" class="btn btn-success float-right">En savoir plus</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
